@font-face {
  font-family: Roboto;
  src: local('Roboto'),
  url('fonts/Roboto.woff') format('woff'),
  url('fonts/Roboto.woff2') format('woff2'),
  url('fonts/Roboto.svg'), format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body{
  font-family: 'Roboto';
}

.container{
  max-width: 950px;
  margin: 0 auto;
}

.header{
  margin-bottom: 70px;
}

.nav{
  border-bottom: 1px solid #828282;
}

.nav__list{
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  margin-bottom: 31px;
}

.nav__link{
  font-weight: 700;
  font-size: 18px;
  color: #828282;
  position: relative;
  display: block;
}

.nav__link:hover{
color: #000;
}

.nav__link:before{
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -5px;
  left: 0px;
  background-color: #000;
  transition-duration: 1s;
}

.nav__link:hover::before{
  width: 100%;
}

.header__content{
  text-align: center;
}

#header__title{
  font-weight: 700;
  font-size: 45px;
  margin-bottom: 22px;
}

.header__descr{
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 35px;
}

.main{
  text-align: center;
}

.about{
  background-color: #f6f6f6;  
  padding: 56px 0px 98px;
  margin-bottom: 64px;
}

.about__title{
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 42px;
}

.about__text{
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 11px;
}

.separator{
  width: 420px;
  height: 3px;
  background-color: #000;
}

.history{
  margin-bottom: 70px;
}

.history__title{
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 72px;
}

.history__img{
  margin-bottom: 30px;
}

.portfolio{
  background-color: #f6f6f6;
  padding: 79px 0 107px;
  margin-bottom: 55px;
}

.portfolio__title{
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 75px;
}

.gallery__item{
  margin-bottom: 95px;
}

.gallery__img{
  margin-bottom: 39px;
}

.gallery__img-descr{
  font-weight: 500;
  font-size: 18px;
}

.footer{
  text-align: center;
}

.footer__content{
  max-width: 350px;
  margin: 0 auto;
}

.footer__title{
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 75px;
}

.footer__link{
  padding: 7px 15px;
  background-color: #000;
  color: #f6f6f6;
  border-radius: 20px;
  display: block;
  max-width: 211px;
  margin: 0 auto;
  margin-bottom: 38px;
}

.sprites{
  display: flex;
  gap: 30px ;
  margin-bottom: 35px;
}

.sprites__svg{
  max-width: 65px;
  height: 65px;
}

.footer__descr{
  font-weight: 500;
  font-size: 16px;
  color: #828282;
  max-width: 260px;
  margin: 0 auto;
}
