.header{
  margin-bottom: 70px;
}

.nav{
  border-bottom: 1px solid #828282;
}

.nav__list{
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  margin-bottom: 31px;
}

.nav__link{
  font-weight: 700;
  font-size: 18px;
  color: #272727;
  position: relative;
  display: block;
}

.nav__link:hover{
color: #000;
}

.nav__link:before{
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -5px;
  left: 0px;
  background-color: #000;
  transition-duration: 1s;
}

.nav__link:hover::before{
  width: 100%;
}

.header__content{
  text-align: center;
}

#header__title{
  font-weight: 700;
  font-size: 45px;
  margin-bottom: 22px;
}

.header__descr{
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 35px;
}

@media (max-width: 480px) {
  .header{
    margin-bottom: 78px;
  }

  .nav{
    display: none;
  } 
  
  .header__content{
    text-align: left;
  }

  #header__title{
  font-size: 32px;
  max-width: 239px;
  }

  .header__descr{
    font-size: 14px;
  }

  .header__img{
    object-fit: cover;
    height: 440px;
  }

 
}