.portfolio{
  background-color: #f6f6f6;
  padding: 79px 0 107px;
  margin-bottom: 55px;
}

.portfolio__title{
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 75px;
}

.gallery__item{
  margin-bottom: 95px;
}

.gallery__img{
  margin-bottom: 39px;
}

.gallery__img-descr{
  font-weight: 500;
  font-size: 18px;
}